.navbar-size {
  width: 95%;
  margin: 0 auto;
}
.user-image-size {
  size: 5px;
  height: 12px;
  width: 12px;
  margin: 2px 0;
}
.main-body {
  background-color: #c4f284;
  color: white;
  height: calc(100vh - 64px);
}
.materialboxed-image {
  margin: 0 auto;
  height: 400px;
}
.click-me-button {
  background-color: #ee6e73;
  margin-top: 50px;
}
